<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

    <nav class="nav-bar">
        <ul class="nav-links">
            <li>
                <div class="acoes" id="novo-chat-btn">
                    <img src="static/img/add-post.png" alt="">
                    <p>Novo chat</p>
                </div>
            </li>
            <li>
                <div class="acoes">
                    <img src="static/img/magnifier.png" alt="">
                    <p>Buscar chats</p>
                </div>
            </li>
            <li>
                <div class="acoes">
                    <img src="static/img/user1.png" alt="">
                    <p>Perfil</p>
                </div>
            </li>
        </ul>

        <div class="chats-usuario">
            <p>Seus chats</p>


            <div class="titulo">
                <a href="">teste</a>
            </div>

            <div class="titulo">
                <a href="">teste</a>
            </div>

        </div>
    </nav>


    <section class="chat-sec">
        <div class="bem-vindo" id="bem-vindo">
            <h1 id="bem-vindo-texto" ></h1>
        </div>

        <div class="chat-mensagem">
        </div>

        <div class="chat-input">
                <form class="chat-form" id="ChatForm">
                    <textarea class="chat-textarea" id="message" name="message" rows="1" placeholder="Pergunte alguma coisa"></textarea>
                    <button type="submit">
                        <img src="static/img/arrow.png" alt="">
                    </button>
                </form>
            </div>

        
            
        
    </section>
    






    <script src="static/js/main.js"></script>
</body>

</html>