<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

    <nav class="nav-bar">
        <ul class="nav-links">
            <li>
                <div class="acoes" id="novo-chat-btn">
                    <img src="static/img/add-post.png" alt="">
                    <p>Novo chat</p>
                </div>
            </li>
            <li>
                <div class="acoes">
                    <img src="static/img/magnifier.png" alt="">
                    <p>Buscar chats</p>
                </div>
            </li>
            <li>
                <div class="acoes">
                    <img src="static/img/user1.png" alt="">
                    <p>Perfil</p>
                </div>
            </li>
        </ul>

        <div class="chats-usuario">
            <p>Seus chats</p>


            <div class="titulo">
                <a href="">teste</a>
                <img class="config" id="config" src="static/img/setting.png" alt="">
            </div>

            <div class="titulo">
                <a href="">teste</a>
            </div>

        </div>
    </nav>


    <section class="chat-sec">
        <div class="bem-vindo" id="bem-vindo">
            <h1 id="bem-vindo-texto"></h1>
        </div>

        <div class="chat-mensagem">
        </div>


        <div class="chat-input">
            <form class="chat-form" id="ChatForm">
                <textarea class="chat-textarea" id="message" name="message" rows="1" required
                    placeholder="Pergunte alguma coisa"></textarea>
                <button id="send-btn" type="submit">
                    <img id="send-icon" src="static/img/arrow.png" alt="">

                    <div id="loading-ia" class="loading hidden">
                        <div class="spinner"></div>
                    </div>
                </button>
            </form>
        </div>




    </section>



    <div class="modal-overlay" id="modal">
        <div class="modal">
            <button style="display: none;" id="fecharModal">Fechar</button>
            <h2 id="modalTitulo">titulo: </h2>
            <p id="modalCriado">data: </p>

            <div id="btnEdit" class="edit">
                <img class="icone" src="static/img/pencil.png" alt="">
                <p>Editar chat</p>
            </div>
            

            <div id="btnExcluir" class="delete">
                <img class="icone" src="static/img/delete.png" alt="">
                <span>Excluir chat</span>
            </div>


        </div>
    </div>


    <div class="modal-overlay" style="display: fle;">
        <div class="modal-editar">
            <h2>Editar título</h2>
            <form class="modal-form">
                <input type="text" required name="new_title" id="new_title">
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>






    <!-- Highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>

</html>