@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Prop+Single:wght@100..900&family=Bitcount:wght@100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&display=swap');


body{
    font-family:"Libertinus Sans", sans-serif ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/static/img/fundo3.jpg);
    background-size: cover;
    background-position: center;
    
}

.container-login{
    position: relative;
    border-radius: 10px;
    width: 370px;
    height: 395px;
    border: 2px solid rgb(255, 255, 255, .2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: transparent;
    backdrop-filter:blur(15px); /*fazer um blur*/
    
}

.container-esqueceu{
    border-radius: 10px;
    width: 370px;
    height: 280px;
    border: 2px solid rgb(255, 255, 255, .2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: transparent;
    backdrop-filter:blur(3px);
}

.container-cadastro{
    border-radius: 10px;
    width: 370px;
    height: 427px;
    border: 2px solid rgb(255, 255, 255, .2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
    padding: 20px;
    background-color: transparent;
    backdrop-filter:blur(3px);
    
}

img{
    width: 25px;
    position: absolute;
    left: 356px;
    transform: translateY(8px);
    cursor: pointer;
}

.user{
    width: 24px;
}



h2{
    color: white;
    margin-bottom: 18px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

label{
    font-size: 20px;
    display: block;
    padding: 8px;
    text-align: start;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
}

input{
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    display: block;
    width: 98%;
    height: 30px;
    font-size: 17px;
    border: solid 2px rgb(255, 255, 255, .2);
    padding: 4px;
}

a{
    margin-top: 15px;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.2s ease;
}

a:hover{
    text-decoration: underline;
    transform: scale(0.95);
}

button{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 18px;
    padding: 12px;
    font-size: 18px;
    background-color: #845EC0;
    color: white;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
    outline: none;
}

button:hover{
    transform: scale(0.99);
    background-color: #5e0684;
}

input::placeholder{
    color: #d3d3c9;
}

span{
    color: #FEFEC0;
}