*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    display: flex;
    background: url("/static/img/fundos.jpg") center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    background-color: #FEF7FF;
    width: 20%;
    height: 100%;
    padding: 30px 30px 30px 10px;
    gap: 50px;
    overflow-y: auto;
    box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.3);
    
    
}

.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    gap: 15px;
}

.acoes{
    width: 100%;
    font-size: 27px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.acoes img{
    width: 30px;
}

.acoes:hover{
    background-color: #fbdaff;
}

.chats-usuario{
    width: 100%;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;    
    gap: 15px;
}

.titulo {
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

    
}

.titulo a {
    text-decoration: none;
    color: black;
}

.titulo:hover{
    background-color: #fbdaff;
}

.chat-sec{
    background-color: #FEF7FF;
    width: 58%;
    box-shadow: -10px 6px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    overflow-y: auto;
    display: flex;
    
}

.chat-input{
    position: fixed;
    bottom: 16px;

    padding: 10px;
    background-color: #FEF7FF;
    border-radius: 14px;
    border: 1px solid #ddd;

    box-shadow: -10px 6px 20px rgba(0, 0, 0, 0.3);
    z-index:1000;           
    width: 54%;  
    display: flex;
}

.chat-textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #FEF7FF;
    resize: none;        
    line-height: 1.4;

    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;

    font-size: 19px;
}

.chat-input button{
    outline: none;
    background-color: #FEF7FF;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input img{
    width: 40px;
}

.bem-vindo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: none;
}

.chat-mensagem{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.msg-ia{
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  align-self: flex-start;
  background-color: #FEFEDF;
  font-size: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.msg-user{
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  align-self: flex-end;
  background-color: #fbdaff;
  font-size: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}